<h1>Post show</h1>
<div class="panel panel-default">
    <div class="panel-heading">poster: <%= @post.user.name %></div>
      <div class="panel-body">
         <p><%= @post.content %></p>
         <div id="time">
           <span><%= @post.created_at %></span>
         </div>
    </div>
  </div>
